{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<style>
body {
        background-image: url("/static/about_background.gif");
}
</style>
        <div class="container">
            <h1><center><strong>A few words about Top Archive Charts...</strong></center></h1><br>
            <p><h4><center>Our source gives you the access to the archive of the most respectful music charts in the US and UK.
                You can find any top song from 1958 till today and add it to your collection. On top of that,
                you get a video link of your favorite song and the link for adding the song to your Spotify collection.
                Enjoy and let us know what you think. Thanks!</center></h4></p>
        </div>
        <h1><center><img border="0" alt="Charts" src="/static/logo.png" width="204" height="75"></center></h1><br>
</body>
{% endblock %}

